@model ENTITY.EMPLEADO

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.IDREGISTRAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDREGISTRAR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
